{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row" {{ stimulus_controller('login') }}{# @see assets/controllers/login-controller.js #}>
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <legend><twig:ux:icon name="tabler:lock"/>Пожалуйста, авторизуйтесь</legend>
                        <div class="form-group">
                            <label for="username">Имя пользователя</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" {{ stimulus_target('login', 'username') }} />
                        </div>

                        <div class="form-group form-group-password">
                            <label for="password">Пароль</label>
                            <input type="password" id="password" name="_password" class="form-control" {{ stimulus_target('login', 'password') }} />
                            <button class="btn btn-primary pull-right" type="button" {{ stimulus_action('login', 'togglePasswordInputType') }}><twig:ux:icon name="tabler:eye" aria-hidden="false" aria-label="Toggle password visibility"/></button>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="_remember_me" checked/>
                                Запомнить меня
                            </label>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <twig:ux:icon name="tabler:login"/> Войти
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
