{% extends 'base.html.twig' %}

{% block title %}Администрирование бота{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Чаты бота
    </h2>
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-sm-2">Наименование</div>
            <div class="col-sm-2">Имя пользователя</div>
            <div class="col-sm-2">Имя и фамилия</div>
            <div class="col-sm-1">Форум</div>
            <div class="col-sm-1">Все админы</div>
            <div class="col-sm-2">Создан</div>
            <div class="col-sm-1">Изменить</div>
            <div class="col-sm-1">Удалить</div>
        </div>
        {% for chat in chats %}
            <div class="row">
                <div class="col-sm-2">
                    {% if chat.title %}
                        {{ chat.title|e }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    {% if chat.username %}
                        {{ chat.username|e }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    {% if chat.firstName or chat.lastName %}
                        {{ chat.firstName|e }} {{ chat.lastName|e }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="col-sm-1 text-center">
                    {% if chat.isForum %}
                        {{ ux_icon('healthicons:yes-outline', {style: 'color: #126415; height: 1em'}) }}
                    {% else %}
                        {{ ux_icon('healthicons:no-outline', {style: 'color: #580808; height: 1em'}) }}
                    {% endif %}
                </div>
                <div class="col-sm-1 text-center">
                    {% if chat.allMembersAreAdministrators %}
                        {{ ux_icon('healthicons:yes-outline', {style: 'color: #126415; height: 1em'}) }}
                    {% else %}
                        {{ ux_icon('healthicons:no-outline', {style: 'color: #580808; height: 1em'}) }}
                    {% endif %}
                </div>
                <div class="col-sm-2 text-center">{{ chat.createdAt| date("d.m.Y H:i") }}</div>
                <div class="col-sm-1 text-center">
                    <a href="{{ path('admin_chat_edit', { 'id': chat.id }) }}">
                        {{ ux_icon('flowbite:pen-outline', { style: 'height: 1em' }) }}
                    </a>
                </div>
                <div class="col-sm-1 text-center">
                    <a href="{{ path('admin_chat_delete', { 'id': chat.id }) }}">
                        {{ ux_icon('mdi:delete-empty', { style: 'height: 1em' }) }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
