{% extends 'base.html.twig' %}

{% block title %}Администрирование бота{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Телеграм бот
    </h2>

    <div class="row">
        <div class="col-sm-5">{{ ux_icon('bx:caret-right', {style: 'height: 1em'}) }} Количество пользователей: {{ users_count }}</div>
        <div class="col-sm-5">{{ ux_icon('bx:caret-right', {style: 'height: 1em'}) }} Количество чатов: {{ chats_count }}</div>
        <div class="col-sm-5">{{ ux_icon('bx:caret-right', {style: 'height: 1em'}) }} Количество сообщений: {{ messages_count }}</div>
        <div class="col-sm-5">{{ ux_icon('bx:caret-right', {style: 'height: 1em'}) }} Количество команд: {{ command_chats_count }}</div>
    </div>
{% endblock %}
