{% extends 'base.html.twig' %}

{% block title %}Администрирование бота{% endblock %}

{% block body %}
    <h2 class="mb-5">
        Активность в реальном времени
    </h2>

    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-sm-2">Чат</div>
            <div class="col-sm-2">Пользователь</div>
            <div class="col-sm-6">Текст</div>
            <div class="col-sm-2">Создано</div>
        </div>
        {% for message in messages.messagesList %}
            <div class="row">
                <div class="col-sm-2">
                    {% if message.chat.title %}
                        {{ message.chat.title }}
                    {% else %}
                        <div class="text-center">-</div>
                    {% endif %}
                </div>
                <div class="col-sm-2">{{ message.user.username }}</div>
                <div class="col-sm-6">
                    {% if message.text %}
                        {{ message.text }}
                    {% elseif message.caption %}
                        {{ message.caption }}
                    {% elseif message.sticker %}
                        <div class="text-center"><<< стикер >>></div>
                    {% elseif message.pinnedMessage %}
                        <div class="text-center"><<< закреп сообщения >>></div>
                    {% elseif message.photo %}
                        <div class="text-center"><<< изображения >>></div>
                    {% elseif message.video %}
                        <div class="text-center"><<< видео >>></div>
                    {% else %}
                        <div class="text-center">-</div>
                    {% endif %}
                </div>
                <div class="col-sm-2 text-center">{{ message.date | date("d.m.Y H:i", "Europe/Moscow") }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
